var tools = {
  sub: function(length, val) {
    if (val.length == 0 || val == undefined) {
      return;
    }
    if (val.length > length) {
      return val.substring(0, length);
    } else {
      return val;
    }
  },
  substring: function(start, end, value) {
    return value.substring(start, end)
  }
}

module.exports = {
  dataTool: tools.sub,
  substring: tools.substring
}